SECRET_KEY=sua-secret-key-aqui
DEBUG=True

DATABASE_URL=postgresql://neondb_owner:npg_************@ep-broad-recipe-ad4gdbfn-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:3000
